<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <CustomAction Id="UninstallElectron" Directory="INSTALLDIR" Return="ignore" ExeCommand='cmd.exe /c IF EXIST "Uninstall Aiming Pro.exe" ( start /wait "" "Uninstall Aiming Pro.exe" /S _?=[INSTALLDIR] )' />
    <InstallExecuteSequence>
        <Custom Action="UninstallElectron" After="InstallInitialize">
            NOT(REMOVE)
        </Custom>
    </InstallExecuteSequence>
  </Fragment>
</Wix>